.dayrow, .task{
  display: flex;
  flex-direction: row;
}
.day{
  border-left: 1px solid black;
  border-bottom:  1px solid black;
  width: 50px;
  height: 50px;
}
.period{
  background-color: red;
}
h2{
  margin: 0px 20px;
}
.card{
  padding: 20px;
}
.btn{
  margin-top: 20px;
}
.task-title{
  width: 200px;
}
.task-title h3{
  font-weight: lighter;
  font-size: 18px;
}
.project-title{
  max-width: 200px;
}
.project-title h3{
  font-size: 22px;
}